.groups {
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	margin-top: 20px;
}

.qualified {
	overflow: hidden;
	clear: both;
	display: grid;
	grid-template-columns: repeat(15, 1fr);
	grid-auto-flow: column;
	grid-gap: 9px;
	margin-top: 27px;
	justify-items: center;
	overflow: hidden;
	clear: both;
	border: 3px solid white;
	padding: 10px;
}

.containerTeams {
	overflow: hidden;
	clear: both;
	overflow: hidden;
	clear: both;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-auto-flow: column;
	justify-items: center;
	margin-top: 20px;

	& .containerTeam {
		width: 100%;

		.dropZone {
			overflow: hidden;
			text-align: center;
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}
		&:nth-child(2n + 1):not(&:last-child) .dropZone:after,
		&:nth-child(2n) .dropZone:before {
			background-color: white;
			content: '';
			display: inline-block;
			height: 5px;
			top: 18px;
			position: relative;
			vertical-align: middle;
			width: 50%;
		}
		.dropZone:before {
			right: 0.5em;
			margin-left: -50%;
		}

		.dropZone:after {
			left: 0.5em;
			margin-right: -50%;
		}
	}
}
.containerTeams--modifier--grid {
	grid-template-columns: repeat(4, 1fr);
}
.containerTeams--modifier--grid--column {
	grid-template-columns: repeat(2, 1fr);
	margin-top: 60px;
}
.separatorText {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	margin-top: 23px;

	& .separatorItem {
		padding: 17px;
		background: black;
		box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
			rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
		font-weight: 400;
	}
}
.countryName {
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
}
.separator--modifier--grid {
	grid-template-columns: repeat(2, 1fr);
	margin-top: 3rem;
}
.separator--modifier--grid--final,
.containerTeams--modifier--grid--winner {
	grid-template-columns: repeat(1, 1fr);
	margin-top: 3rem;

	.separatorItem {
		padding: 30px;
		width: 300px;
		text-align: center;
	}
}
.containerTeams--modifier--grid--winner > div {
	margin-top: 10rem;
}
.containerTeams--modifier--grid--winner > div > div {
	justify-content: center;
}

.trophy {
	width: 100px;
	position: relative;
	right: 28rem;
}
.winner {
	font-size: 32px;
}
